<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>

@{
    ViewBag.Title = "About";
}

<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item active">About</li>
</ol>

<div class="row">
    <img src="~/Content/img/missionary-training-center-walk.jpg" class="missionaryBanner" />
    <h2>@ViewBag.Title</h2>
    <h3>Respect Your Elders</h3>
    <p>
        Respect Your Elders is a company devoted to opening a dialogue between returned missionaries and prospective missionaries.
        The prospect of going on a mission can be scary, and the mission experience can vary wildly from mission to mission. By asking questions of recent returned missionaries
        of the mission to which they are assigned, prospective missionaries can better understand the missionary experience and better prepare for their best two years.
    </p>
    <br />
    @Html.ActionLink("Check it Out", "Mission", "Home", null, new { @class = "btn btn-primary" })
    <br />
</div>