@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/Content/CustomStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>

<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid" style="background-color:rgba(0, 0, 0, 0)">
        <br />
        <br />
        <h1 style="color: white;">Prepare to Serve</h1>
        <p class="lead">So You Can Return with Honor</p>
        <p>@Html.ActionLink("Start Connecting", "Mission", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>
<div class="container description">
    <div class="row">
        <h3>We are a hub for future missionaries to connect with those who have returned. We help prospective elders and sisters to prepare well and every returned missionary to stay connected to the work they love.</h3>
    </div>
</div>
<div class="container homepage">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <img class="img-responsive" src="~/Content/img/sisters.png" height="250px" width="auto" />
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <h2>Find Your Mission</h2>
            <p>Connect with hundreds of returned missionaries - who served the same people that you will.</p>
            <p>@Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Learn more about Respect Your Elders</h2>
            <p>Ready to get involved or just want to know more?</p>
            <p>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="~/Content/img/nametag.png" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <p class="lead"><em>"The Lord has given no greater charge to His people than sharing the gospel with our Heavenly Father’s children. "</em> - Elder Russel M. Nelson</p>
    </div>
</div>